@import "../../assets/styles/webGhoul.scss";
.add_log_form{
  box-shadow: $box_shadow;
  background-color: $white;


  .hotel{
    grid-template-columns: repeat(2,1fr) !important;
  }



  .pdf_view{
    height: 100%;
    grid-template-rows: auto 1fr;
  }

  @media (max-width:$lg_size) {
    .tabs{
      button{
        min-width: auto !important;
      }
    }
    .hotel{
      grid-template-columns: repeat(1,1fr) !important;
    }
  }
 
  @media (max-width:$md_size) {
    .md_wrap{
      display: grid !important;
      justify-content: stretch !important;
    }
  }
}