@import "../../assets/styles/webGhoul.scss";
.add_log_form{
  box-shadow: $box_shadow;
  background-color: $white;
  .tabs{
    button{
    }
  }

  .hotel{
    grid-template-columns: repeat(2,1fr) !important;
  }

  .pdf_view{
    height: 100%;
    grid-template-rows: auto 1fr;
  }
}