@import "../../assets/styles/webGhoul.scss";
header{
  background-color: $white !important;
  box-shadow: $box_shadow_header !important;
  height: 80px;
  position: fixed !important;

  @media (max-width:$lg_size) {
    height: 75px;
  }

  @media (max-width:$md_size) {
    height: 70px;
  }

  @media (max-width:$sm_size) {
    height: 65px;
  }

  @media (max-width:$xs_size) {
    height:60px;
  }
}