@import "../assets/styles/webGhoul.scss";
.modal{
  background-color: $white;
  min-width: 40vw;
  outline: none !important;
  width: 40vw;
  max-width: 90vw;
  max-height: 90vh;

  @media (max-width:$lg_size) {
    width: 50vw;
  }

  @media (max-width:$md_size) {
    width: 60vw;
  }

  @media (max-width:$sm_size) {
    width: 70vw;
  }

  @media (max-width:$xs_size) {
    width: 100%;
  }
}